.group-img {
  width: 15rem;
}

#all-groups-body {
  display: flex;
  justify-content: center;
}

#headings-container {
  display: flex;
  align-self: flex-start;
  gap: 10px;
}

#all-groups-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  align-items: flex-start;
}

.group-element {
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content;
  border-top: solid #CCCCCC 2px;
  padding: .5rem 0;
}

.group-link-wrap {
  text-decoration: none;
}

#events-link {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  color: black;
}

#active-list-heading {
  text-decoration: underline;
  color: #00525E;
}

h2 {
  font-size: 18px;
  color: black;
}

p {
  color: #CCCCCC;
}

#subheading {
  font-weight: bold;
}
