.group-img {
  width: 15rem;
}

.img-container {
  /* width: 12rem; */
}

#all-groups-body {
  display: flex;
  justify-content: center;
}

#headings-container {
  display: flex;
  align-self: flex-start;
  gap: 10px;
}

#all-groups-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  align-items: flex-start;
}

.group-element {
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content;
}

.group-link-wrap {
  text-decoration: none;
}
