#group-img {
  width: 25rem;
}

#body {
  display: flex;
  justify-content: center;
}

#body-container {
  display: flex;
  flex-direction: column;
}

#groups-bread-crumb {
  display: flex;
  align-self: flex-start;
}

#upper-container {
  display: flex;
  gap: 1rem;
  width: 40rem;
}

#lower-container {
  width: 40rem;
}

#upper-container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
