.error-text {
  color: red;
}



#price-input {
  padding-left: .75rem;
  text-align: right;
  width: 5rem;
}

#price-input-currency {
  z-index: 1;
  position: relative;
  right: 5.85rem;
  font-size: 11pt;
}

#calendar-days {
  position: relative;
  left: .5rem;
}
