#body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location-inputs {
  display: flex;
  gap: 1rem;
}

.err-text {
  color: red;
}

.group-form-description {
  width: 25rem;
  height: 10rem;
  background-color: #E8F0FE;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 2px black;
}

#submit-button {
  margin-top: 1rem;
}

#group-form-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

#group-form-body-container {
  display: flex;
  justify-content: center;
}

.group-form-section {
  border-top: #999999 solid 2px;
  margin-top: 1rem;
}

.group-submit-button {
  margin: 1rem 0;
  background-color: #FF5A5F;
  color: white;
  padding: .5rem 2rem;
  border: solid black 1px;
  box-shadow: 2px 2px black;
}

.group-form-p {
  color: black;
}

.group-state-input {
  width: 2.5rem;
}

.group-url-input {
  width: 25rem;
}
