/* #body-container {
  display: flex;
  justify-content: center;
  width: fit-content;
} */

#all-events-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  align-items: center;
}

#subheading {
  display: flex;
  align-self: flex-start;
}

.event-link-wrap {
  text-decoration: none;
}

.event-element {
  border-top: solid #CCCCCC 2px;
  padding: .75rem 0;
}

.event-upper {
  display: flex;
  gap: 1rem;
}

.event-img {
  width: 15rem;
}

#groups-link {
  text-decoration: none;
}

.events-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.all-events-description {
  width: auto;
  color: black;
}
