button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.management-modal {
  background-color: #999999;
  padding: .25rem .5rem;
  border: solid black 1px;
  box-shadow: 2px 2px black;
}
