.event-link-wrap {
  text-decoration: none;
}

.event-img {
  width: 12rem;
  /* height: 6rem; */
}

.group-events-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 28rem;
}

.event-item-upper {
  display: flex;
  gap: 1rem;
}

.group-events-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group-event-times {
  color: #00525E;
}

.group-event-description {
  color: black;
}
