body {
  font-family: 'Open Sans';
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  color: #999999;
}

p {
  font-weight: 500;
}

Link {
  color: #00525E;
}

#body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#intro-text {
  width: fit-content;
}

#intro-img {
  width: auto;
  height: 18.5rem;
}

#intro-container {
  display: flex;
  width: auto;
}

#intro-description {
  width: 23rem;
}

#how-to-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  text-align: center;
}

#lower-body {
  display: flex;
  gap: 1rem;
}

.lower-link {
  text-decoration: none;
  color: #00525E;
}

.lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  text-align: center;
}

.lower-img {
  width: 8rem;
  height: 6rem;
}

#start-group-static {
  color: #999999;
}
