body {
  font-family: 'Open Sans';
}

h1 {
  font-size: 24px;
  color: black;
}

h2 {
  font-size: 18px;
  color: black;
}

p {
  font-size: 12px;
  font-weight: 600;
  color: #CCCCCC;
  letter-spacing: .025rem;
}

Link {
  color: #00525E;
}

#body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#intro-text {
  width: fit-content;
}

#intro-img {
  width: auto;
  height: 16rem;
}

#intro-container {
  display: flex;
  width: auto;
}

#intro-description {
  width: 23rem;
}

#how-to-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  text-align: center;
}

#lower-body {
  display: flex;
  gap: 1rem;
}

.lower-link {
  text-decoration: none;
  color: #00525E;
}

.lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  text-align: center;
}

.lower-img {
  width: 8rem;
  height: 6rem;
}

#start-group-static {
  color: #999999;
}

#join-meetup-button {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #00525E;
  padding: 0.5rem 1rem;
  border: solid black 2px;
  box-shadow: 2px 2px black;
}
