#body-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

#events-bread-crumb {
  align-self: flex-start;
}

#heading-container {
  align-self: flex-start;
}

#upper-container {
  display: flex;
}

#event-img {
  width: 25rem;
}

#description {
  width: 40rem;
}
