#body-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

#events-bread-crumb {
  align-self: flex-start;
}

#heading-container {
  align-self: flex-start;
}

#upper-container {
  display: flex;
}

#event-img {
  width: 25rem;
}

#description {
  width: 40rem;
}

#type-session-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#session-buttons-container {
  display: flex;
  gap: .5rem;
}

.session-button {
  background-color: #999999;
  padding: .25rem .5rem;
  border: solid black 1px;
  box-shadow: 2px 2px black;
}
