.hidden {
  display: none;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #CCCCCC 2px;
  /* box-sizing: border-box; */
}

#nav-upper-right {
  margin-right: 1rem;
  display: flex;
  gap: .5rem;
}

#nav-logo {
  margin: 1rem 0 0 1rem;
  height: 3rem;
}

html,
body {
  margin: 0;
}
